@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="EnterRoom" method="post">
        <label>Enter as @Model</label>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
</div>

<form asp-action="Enter">
    <input name="Name" type="text" />
    <input type="submit" value="Enter Chat" />
</form>
<form asp-action="EnterRoom">
    <input name="Name" type="text" />
    <input type="submit" value="Enter Chat" />
</form>